* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Segoe);
}

@font-face {
    font-family: 'Cinzel';
    src: url('assets-home/fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'LaBelle';
    src: url('assets-home/fonts/LaBelleAurore-Regular.ttf') format('truetype');
}


:root {
    --Cinzel: 'Cinzel', Arial, sans-serif;
    --Labelle: 'LaBelle', Arial, sans-serif;
    /*segoe*/
    --Segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --segoe-ui-extra-light: 100;
    --segoe-ui-light: 200;
    --segoe-ui-semi-light: 300;
    --segoe-ui-regular: 400;
    --segoe-ui-medium: 500;
    --segoe-ui-semi-bold: 600;
    --segoe-ui-bold: 700;
    --segoe-ui-extra-bold: 800;
    --segoe-ui-black: 900;

    /*variaveis de cor*/
    --cinza-claro: #909090;
}

#header-container {
    display: flex;
    height: 78px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: rgb(206, 206, 206);

    font-family: var(--Segoe);
    font-weight: var(--segoe-ui-light);
}

#header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Cinzel);
    font-size: 30px;
    font-weight: 800;
}

#header-logo>a>img {
    display: flex;
    align-items: center;
}

#header-nav {}

#header-nav>ul {
    list-style: none;
    font-size: 18px;
}

#lupa-logo {
    margin-left: 70px;
}

#header-login ul {
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    font-size: 20px;

}

#header-login {}

#header-login>ul>li>a {
    text-decoration: none;
    color: white;
}

/*------------Sub header-----------*/

#sub-header {
    display: flex;
    justify-content: space-around;
    height: 35px;
    background-color: #292929;

}

#nav-marcas {
    margin: auto 20px;
}

#nav-marcas>ul {
    display: flex;
    gap: 40px;
    list-style: none;

    color: rgb(254, 254, 254);
    font-size: 15px;
    font-family: var(--Cinzel);
}

/*------container-1 body--------*/

#container-1 {
    position: relative;
}

/*-------slide-------*/
#img-bmw>img {
    width: 100%;
    height: auto;

}

/*------pesquisa flutuante--------*/

#float-pesquisa {
    position: absolute;
    background-color: white;
    width: 700px;
    height: 60px;

    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 18px;

    display: flex;
    align-items: center;
    gap: 20px;
    /*gap entre p1 e btn-pesquisa*/
    z-index: 10;
}

#p1 {
    display: flex;
    font-size: 15px;
    gap: 20px;
}

#p1>ul {
    list-style: none;
    margin: 5px;
    margin-left: 20px;
}

/*----icons-globais---*/
/*----arrow---*/
#flecha-b-svg {
    width: 13px;
    margin-left: 10px;
}

/*------loc------*/
#loc-txt {
    color: var(--cinza-claro);
    margin: auto 5px;
}

#loc-svg {
    width: 13px;
    margin-right: 10px;
    margin-left: 5px;
}

/*------tipo de carro------*/
#tipocar-txt {
    color: var(--cinza-claro);
    margin: auto 5px;
}

#tipocar-svg {
    width: 13px;
    margin-left: 5px;
    margin-right: 10px;
}

/*------entrada------*/
#entrada-txt {
    color: var(--cinza-claro);
    margin: auto 5px;
}

#entrada-svg {
    width: 13px;
    margin-left: 5px;
    margin-right: 10px;
}

/*------retorno------*/
#retorno-txt {
    color: var(--cinza-claro);
    margin: auto 5px;
}

#retorno-svg {
    width: 13px;
    margin-left: 5px;
    margin-right: 10px;
}

/*------BTN pesquisa------*/

#btn-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    width: 120px;
    height: 40px;
    border-radius: 30px;

    font-family: var(--segoe-ui-light);
    font-size: 15px;
    color: white;
}

/*--------------test drive botao--------------*/
#menu-baixo {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

#menu-baixo>img {
    width: 110%;
}

#btn-testedrive {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #deefec;
    width: 200px;
    height: 40px;
    border-radius: 30px;

    color: rgb(3, 29, 7);
    font-weight: var(--segoe-ui-semi-bold);
}

/* ---- fim parte 1 home --- */

/* ---- frota, parte 2 home --- */


/* ---- frota --- */
#card-frota {
    display: flex;
    justify-content: center;
    align-items: center;
}

#frota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

#titulo-frota {
    font-size: 40px;
    font-weight: var(--segoe-ui-bold);
}

#txt-frota {
    font-size: 18px;
}

/* ----card central --- */
#titulo-card-foco {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: var(--segoe-ui-bold);
}

#carmodelox {
    width: 100%;
    height: auto;
}

#card-central {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 55.4px #292929;

    color: rgb(170, 168, 168);
}

#descricao-card-central {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 10px;
    border-radius: 15px;
}

#txt-foco-card {
    color: white;
}

#titulo-card-desc {
    font-size: 20px;
    margin: 10px;
}

#texto-card-desc {
    font-size: 12px;
    margin: 10px;
}

/*--btn card central--*/
#btn-card-central {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    box-shadow: 0px 0px 55.4px #292929;
    height: 35px;
    border-radius: 20px;
    margin: 25px;
    z-index: 1;
}

/*--cards lateral e setas--*/

#card-lateral {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 55.4px #292929;


    color: #8a8787;
}

#titulo2-card-desc {
    font-size: 17px;
    margin: 7px;
}

#texto2-card-desc {
    font-size: 10px;
    margin: 7px;
}

/* setas */

#btn-setas {
    margin: 30px;
}


/* ---- container 3 -  */
#container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 70px;

    /* ---- css container 3 - global -  */

    #titulos-container3 {
        display: inline;
        border-bottom: 2px solid black;
        width: auto;
        padding-bottom: 0px;
        font-size: 50px;
    }

    #txt-container3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #txt-foco-container3 {
        font-size: 30px;
    }

    #caixa-txt3 {
        background-color: #292929;
        border-radius: 10px;
        margin-top: 13px;
    }

    #titulo-caixa3 {
        margin: 7px;
        font-weight: var(--segoe-ui-bold);
        color: white;
    }

    #texto-caixa3 {
        margin: 7px;
        font-weight: var(--segoe-ui-regular);
        color: #cac6c6;
        font-size: 13px;

    }
}

/* ---- container 3.1 sobre nos -  */
#container-3-1 {
    justify-content: center;
    width: 90%;
}

#sobre-nos {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 450px;
    gap: 34px;
}

#titulo-sobre-nos {
    margin-bottom: 20px;
}

#img-sobre-nos {
    height: 450px;
}

#img-sobre-nos>img {
    width: auto;
    height: 100%;
}

/* ---- container 3.2 nossa frota -  */
#container-3-2 {
    justify-content: center;
    width: 90%;

}

#nossa-frota {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 450px;
    margin-left: 30px;
    margin-right: 123px;
}

#img-nossa-frota {
    height: 530px;
}

#img-nossa-frota>img {
    width: auto;
    height: 100%;
}

/* ---- nossa jornada ----*/
#container-3-3 {
    justify-content: center;
    width: 90%;
}

#nossa-jornada {
    display: flex;

    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: 450px;
    gap: 30px;

}

#img-nossa-jornada>img {
    width: auto;
    height: 450px;
}

#img-nossa-jornada {
    height: 470px;
    margin: 0;
}

#btn-saiba-mais {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    box-shadow: 0px 0px 30px #00000056;
    border-radius: 20px;
    font-family: var(--segoe-ui-bold);

}

#btn-saiba-mais>span {
    margin: 5px;
}

/*---container 3.4 localização*/

#container-3-4 {
    display: flex;
    justify-content: center;
}

#loc-Ujjac {
    width: 473px;
    border: 2px solid #292929;
}

#loc-Ujjac>iframe {
    width: 470px;
    border: 2px solid #292929;
}

/*----container 3.5----*/
#container-3-5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    color: white;
    padding: 30px;

}

#desc-depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#titulo-depoimentos {

    font-family: var(--Labelle);
    font-weight: 300;
    margin-bottom: 30px;
}

#depoimentos-img {
    display: flex;
    justify-content: center;
}

#depoimentos-img>img {
    width: 1000px;
}

#btn-feedback {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    color: black;

}

/*-----  galeria -------*/
#container-3-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* cria quatro colunas */
    grid-gap: 10px;
    /* espaço entre as imagens */
}

.grid-item {
    width: 100%;
    height: 200px;
    /* altura fixa para todos os itens do grid */
    overflow: hidden;
    /* esconde qualquer parte da imagem que exceda o tamanho do item */
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}


/* --- contato ----*/

#container-3-7 {
    margin: 80px;
}

.contact-section {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
}

.contact-section h2 {
    color: #333;
}

.contact-section p {
    margin-bottom: 20px;
    color: #666;
}

.contact-form input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 80%;
    border: none;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    padding: 10px 20px;
    background-color: #e06214;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #dc5b0b;
}